---js
const eleventyNavigation = {};

const numberOfLatestPostsToShow = 3;
const numberOfLatestSlidesToShow = 3;
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found <a href="blog.njk">here</a>.</p>
{% endif %}

{% set slidesCount = slides.slides | length %}
{% set latestSlidesCount = numberOfLatestSlidesToShow %}
<h2>Latest {{ latestSlidesCount }} Slide{% if latestSlidesCount != 1 %}s{% endif %}</h2>

{% set slidesList = slides.slides | head(-1 * numberOfLatestSlidesToShow) %}
{% set slidesListCounter = slidesCount %}
{% include "slideslist.njk" %}

{% set moreSlides = slidesCount - numberOfLatestSlidesToShow %}
{% if moreSlides > 0 %}
<p>{{ moreSlides }} more slide{% if moreSlides != 1 %}s{% endif %} can be found <a href="slides.njk">here</a>.</p>
{% endif %}


{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
