<ol reversed class="slidelist" style="--slidelist-index: {{ (slideslistCounter or slidesList.length) + 1 }}">
{%- for slide in slidesList | reverse %}
  <li class="slidelist-item">
    <a href="/slides/{{ slide.name }}.pdf" class="slidelist-link">{{ slide.name }}</a>
    {% set slideDate = slide.date | dateFromString %}
    <time class="slidelist-date" datetime="{{ slideDate | htmlDateString }}">{{ slideDate | readableDate("LLLL yyyy") }}</time>
  </li>
{%- endfor %}
</ol>
